.container-fluid {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(173, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);

}

img {
  width: 30px;
  height: 30px;
}

button {
  font-family: 16px;
}

@import url('https://fonts.cdnfonts.com/css/poppins');

.poppins {
  font-family: "Poppins";
}

@media screen and (max-width: 875px) {
  .container-fluid {
    flex-direction: column-reverse;

    align-items: center;
  }

  .box-up {
    align-items: center;
  }
}
