<div class="footer-basic">
  <div class="social">
    <a href="#" (click)="goToWebsite(urlInstagram)"><i class="icon ion-social-instagram"></i></a>
    <a href="#" (click)="goToWebsite(urlFacebook)"><i class="icon ion-social-facebook"></i></a></div>
  <ul class="list-inline">
    <li class="list-inline-item"><a [routerLink]="['/contact']">Nous contacter</a></li>
  </ul>
  <p class="copyright">BASKET BALL BRIVADOIS © {{currentYear}} <br>Développé par Marine Bap-Deletang & Aurélie Besnard</p>
</div>
