<div class="">
  <div class="header-box">
    <video #bgVideo controls autoplay class="bg-desktop">
s
      <source src="/assets/basket.mp4" type="video/mp4">
    </video>
    <img class="bg-mobile" #bgImage src="/assets/bbb-head.jpg" alt="ball">
    <div class="header-txt">
      <h1 class="bg-desktop"><span class="redColor">B</span>ASKET <br> <span class="redColor">B</span>ALL <br> <span class="redColor">B</span>RIVADOIS</h1>
      <div class="d-flex justify-content-center me-3 mt-5">
        <button [routerLink]="['/contact']" class="btn1">Nous contacter</button>
      </div>
    </div>
  </div>
